
.item {
    display: flex;
    align-items: center;
    padding-bottom: 1.875em;
    margin-bottom: 1.875em;
    border-bottom: 1px solid #eff1f2;
}

.item:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.item-img img {
    height: 5.625em;
    width: 5.625em;
    object-fit: cover;
}

.item-img {
    margin-right: 1.5em;
}

.item-description {
    margin-right: 1.5625em;
}

.item-description a.item-title {
    color: #0d0d0d;
    font-size: .9375em;
    font-weight: normal;
    text-decoration: none;
    line-height: 1.6666666667em;
    transition: .2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 1em;
}

.item-description h5.item-price {
    color: #0d0d0d;
    font-size: 1.0625em;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1.1764705882em;
}

.item-description .btn-add {
    height: 2.3076923077em;
    letter-spacing: .1769230769em;
    font-size: .8125em;
    background-color: #6666AF;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
}


.item-description .btn-add[disabled] {
    background-color: #f2f4f5;
    color: #0d0d0d;
    cursor: not-allowed;
}

.item-description .btn-mobile-add {
    display: none;
}


@media only screen and (max-width: 767px) {
    .item-description .btn-large-add {
        display: none;
    }

    .item-description .btn-mobile-add {
        display: block;
    }
}