.card-product-wrapper {
  aspect-ratio: calc(342 / 486);
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  z-index: 20;
}

.card-product-wrapper img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition-duration: 700ms;
}

.card-product-wrapper:hover .product-img .img-product {
  opacity: 0;
}

.card-product-wrapper:hover .product-img .img-hover {
  display: block;
  z-index: 1;
  opacity: 1;
  transform: scale(1.05);
}

.product-img {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: stretch;
}

.product-img .img-hover {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.list-product-btn {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  top: 8px;
  right: 8px;
  z-index: 6;
}

.box-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #6666AF;
  border: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
}

.box-icon .icon {
  font-size: 14px;
}

.box-icon:hover {
  background-color: #000 !important;
  color: #fff;
  border-color: #000;
}


.card-product .tooltip {
  display: block;
}



.card-product .list-product-btn {
  top: 20px;
  right: 20px;
  gap: 16px;
}

.card-product .list-product-btn li {
  visibility: hidden;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s ease;
}

.card-product .box-icon {
  width: 45px;
  height: 45px;
}


.card-product:hover .list-product-btn li {
  visibility: visible;
  opacity: 1;
}

.card-product:hover .list-product-btn li:nth-child(1) {
  transform: translateX(0);
}

.card-product:hover .list-product-btn li:nth-child(2) {
  transform: translateX(0);
  transition-delay: 0.1s;
}

.card-product:hover .list-product-btn li:nth-child(3) {
  transform: translateX(0);
  transition-delay: 0.2s;
}


.card-product.style-4 .card-product-info {
  padding: 24px 16px;
}

.hover-tooltip {
  position: relative;
}

.hover-tooltip .tooltip {
  position: absolute;
  white-space: nowrap;
  padding: 0 10px;
  height: 23px;
  border-radius: 4px;
  bottom: calc(100% + 8px);
  transform: translateY(8px);
  opacity: 0;
  visibility: hidden;
  color: var(--white);
  width: max-content;
  background-color: var(--dark);
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24),
    -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  z-index: 100;
  font-size: 10px;
  line-height: 23px;
  font-weight: 500;
  text-align: center;
}

.hover-tooltip .tooltip::before {
  content: "";
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  top: 18px;
  position: absolute;
  background: var(--dark);
  width: 8px;
  height: 8px;
  z-index: -1;
}

.hover-tooltip:hover .tooltip {
  opacity: 1;
  visibility: visible;
  transform: none;
  transition-delay: 0.1s;
}


.hover-tooltip.tooltip-left .tooltip {
  right: 100%;
  bottom: auto;
  transform: translateX(0px);
}

.hover-tooltip.tooltip-left .tooltip::before {
  top: 50%;
  left: auto;
  transform: translateY(-50%) rotate(45deg);
  right: -2px;
}

.hover-tooltip.tooltip-left:hover .tooltip {
  transform: translateX(-8px);
}



.name-product {
  width: 60%;
  color: #E3E3F0;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-product-info .badge {
  background-color: oklab(0.54 0.02 -0.11 / 0.39);
  color: #6666AF;
  border-color: #6666AF !important;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-product-info .price-wrap{
  color: #E3E3F0;
}