
.form-floating-custom {
    position: relative;
  }
  
  .form-floating-custom .form-control {
    padding-right: 3rem; 
  }

  .form-floating-custom .form-control:focus ~ label,
  .form-floating-custom .form-control:not(:placeholder-shown) ~ label {
    top: -0.2em;
    left: 0.75em;
    background: #000;
    color: aliceblue;
    padding: 0 0.25em;
    font-size: 0.85em;
    display: inline-block;
    height: auto;
  }
  
  
  
  .form-control.is-invalid,
  .form-control.is-valid {
    background-position: right 1.75rem center;
  }
  
  .was-validated .form-control:invalid ~ .invalid-feedback {
    display: block;
  }
  


  .form-floating-custom {
    position: relative;
  }
  
  .password-toggle-icon {
    position: absolute;
    top: 40%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    color: #6c757d;
  }
  
  input.is-invalid + .password-toggle-icon {
    right: .5rem !important; 
    top: 25%;
  }

  input.is-valid + .password-toggle-icon {
    top: 43%;
    right: .5rem !important; 
  }


  .form-outLay{
    border: solid 1px #ffffff38;
    padding: 50px;
    border-radius: 15px;
  }


  .form-outLay .btn{
    color: white;
    background-color: #6666AF;
    border-color: #6666AF;
  }
  .form-outLay  .btn-link{
    background-color: transparent;
    color: #6666AF;
    text-decoration: none;
    border: none;
  }