
.product-card .icon-actions {
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.4s ease;
}

.product-card:hover .icon-actions {
    opacity: 1 !important;
    /* transform: translateX(0px)  !important; */
}

.icon-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    font-size: 1.2rem;
    transition: transform 0.3s;
}

.icon-btn:hover {
    transform: scale(1.1);
}

ul,
li {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-link {
    border-radius: 8px;
}

.nav-link:hover {
    color: #fff !important;
    background-color: #5243d976;
}

.nav-link.active {
    color: #fff !important;
    background-color: #5243d976;
}